<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jean Coutu</title>
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets\style.css" />
    <script
      src="https://kit.fontawesome.com/2828f7885a.js"
      integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG"
      crossorigin="anonymous"
    ></script>


      <link rel="icon"  src="/favicon/favicon.ico">
      <link rel="apple-touch-icon" sizes="180x180" src="/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" src="/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" src="/favicon/favicon-16x16.png">
      <link rel="manifest" src="/favicon/site.webmanifest">
      <link rel="mask-icon" src="/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">



  </head>

  <body>
    <!-- Begin Preloader -->
    <div class="preloader-wrapper">
      <div class="preloader">
        <img  src="https://i.imgur.com/dbJ8W8q.gif" alt="" />
      </div>
    </div>
    <!-- End Preloader-->
    <!-- Begin Scroll Up Button -->

    <form action="#home">
      <button id="toTop" title="Go to top">
        <i class="fas fa-angle-up"></i>
      </button>
    </form>
    <!-- End Scroll Up Button -->

    <!-- Begin Header -->
    <div class="header-wrapper" id="home">
      <!-- Begin Hero -->
      <section class="hero is-large">
        <!-- Begin Mobile Nav -->
        <nav class="navbar is-transparent is-hidden-desktop">
          <!-- Begin Burger Menu -->
          <div class="navbar-brand">
            <div class="navbar-burger burger" data-target="mobile-nav">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
          <!-- End Burger Menu -->
          <div id="mobile-nav" class="navbar-menu">
            <div class="navbar-end">
              <div class="navbar-item">
                <a class="navbar-item" href="#home">
                  Home
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#about-me">
                  About Me
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="/show">
                  Community
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#features">
                  Features
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#skills">
                  Skills
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#my-work">
                  Show Case
                </a>
              </div>
              <div class="navbar-item">
                <a class="navbar-item" href="#contact">
                  Contact
                </a>
              </div>
            </div>
          </div>
        </nav>
        <!-- End Mobile Nav -->
        <!-- Begin Hero Content-->
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="subtitle">Hey there, I'm</h1>
            <h2 class="title">Jean Coutu</h2>
            <h1 class="subtitle profession">A Bunny Model & Influencer in the small animal kingdom</h1>
          </div>
        </div>
        <!-- End Hero Content-->
        <!-- Begin Hero Menu -->
        <div class="hero-foot ">
          <div class="hero-foot--wrapper">
            <div class="columns">
              <div class="column is-12 hero-menu-desktop has-text-centered">
                <ul>
                  <li class="is-active">
                    <a href="#home">Home</a>
                  </li>
                  <li>
                    <a href="#about-me">About Me</a>
                  </li>
                  <li>
                    <a href="/show">Community</a>
                  </li>
                  <li>
                    <a href="#features">Features</a>
                  </li>

                  <li>
                    <a href="#skills">Skills</a>
                  </li>
                  <li>
                    <a href="#my-work">Show Case</a>
                  </li>
                  <li>
                    <a href="#contact">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- End Hero Menu -->
      </section>
      <!-- End Hero -->
    </div>
    <!-- End Header -->

    <!-- Begin Main Content -->
    <div class="main-content">
      <!-- Begin About Me Section -->
      <div data-aos="fade-up-right" class="section-light about-me" id="about-me">
        <div class="container">
          <div class="column is-12 about-me">
            <h1 class="title has-text-centered section-title">About Me</h1>
          </div>
          <div class="columns is-multiline">
            <div
              class="column is-6 has-vertically-aligned-content"
              data-aos="fade-right"
            >
              <p class="is-larger">
                <strong>I’m Jean Coutu, supermodel, influencer in the small animal kingdom and expert at waking up exactly at 6:00am everyday for my breakfast which is ALWAYS late. I started my career as a treat tester, and have since discovered my passion for modelling, as it's the best of both worlds since companies send me free treats if I model with their products.</strong>
              </p>
              <br />
              <p> When I’m not modeling, I spend my time trying to beat the world record for the most poops in a day, waking up my treat delivery people, expertly sniffing bananas from 100km away and sleeping in all sorts of adorable positions.
              </p>
              <br />
              <div class="is-divider"></div>
              <div class="columns about-links">
                <div class="column">
                  <p class="heading">
                    <strong>Give me a call</strong>
                  </p>
                  <p class="subheading">
                    <!-- qubec-jean-couto  in phone numbers-->
                    514-5326-26886
                  </p>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>Email Me</strong>
                  </p>
                  <p class="subheading">
                    JeanCouto@jean.com
                  </p>
                </div>
                <div class="column">
                  <p class="heading">
                    <strong>View my portfolio</strong>
                  </p>
                  <p class="subheading">
                    JeanModel.com
                  </p>
                </div>
              </div>
            </div>
            <div class="column is-6 right-image " data-aos="flip-left">
              <img

                class="is-rounded"
                src="images\JonStlyle.jpg"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <!-- End About Me Content -->
      <div data-aos="zoom-out" class="section-dark resume">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <div class="column is-4 has-text-centered is-offset-1">
              <h1 class="title has-text-centered section-title">
                Age:
              </h1>
              <h2 class="subtitle">
              1 year and 3 months
              </h2>
            </div>
              <div class="column is-3 about-me">
              <h1 class="title has-text-centered section-title">
                Hometown:
              </h1>
              <h2 class="subtitle">
              Montreal, Quebec City
              </h2>
            </div>

              <div class="column is-3 about-me">
              <h1 class="title has-text-centered section-title">
              Residency:
              </h1>
              <h2 class="subtitle">
              The 10th floor of an apartment in Etobicoke where I keep watch of all the birds and smirk at them while I eat my freshly baked, non GMO, organic, gluten-free hay treats
              </h2>
            </div>

            </div>
          </div>
        </div>


      <!-- Begin Features Content -->
      <div class="section-color Features" id="features">
        <div class="container">
          <div class="columns is-multiline">
            <div
              class="column is-12 about-me"
              data-aos="fade-down-right"
              data-aos-easing="linear"
            >
              <h1 class="title has-text-centered section-title">Features</h1>

              <h2 class="subtitle">
                <div class="container has-text-centered">
                  Those are my treats as a Bunny Model & Influencer
                </div>
              </h2>
              <br />
            </div>
            <div class="columns is-12">
              <div
                class="column is-4 has-text-centered"
                data-aos="flip-left"
                data-aos-easing="linear"
              ><i class="fad fa-paw-claws "></i>
                <i class="fad fa-paw-claws fa-4x"></i>
                <i class="fad fa-paw-claws "></i>
                <hr />
                <h2>
                   Professional model shots by the most handsome bunny the world has ever set its eyes on
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="flip-right"
                data-aos-easing="linear"
              >
                <i class="fad fa-rabbit fa-4x"></i>
                <i class="fad fa-angle-right fa-3x"></i>
                <i class="fad fa-dog fa-2x"></i>
                <hr />
                <h2>
                  I can do collaborations with dogs as they are my favourite and a bunny can never have too many girlfriends!
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="flip-left"
                data-aos-easing="linear"
              >
                <i class="fad fa-hands-usd fa-4x"></i>
                <hr />
                <h2>
                  I am the best value for your buck. I'm tiny, don't make any noises and I will never be a diva unless you're late for my breakfast. Early bird gets the worm!
                </h2>
              </div>
            </div>
            <hr />
            <div class="columns is-12">
              <div
                class="column is-4 has-text-centered"
                data-aos="flip-right"
                data-aos-easing="linear"
              >
                <i class="fad fa-toilet fa-4x"></i>
                <hr />
                <h2>
                  Have you ever wished that your model would also provide your garden with fertilization? Look no further! My poops are unlimited and so are the benefits.
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="flip-left"
                data-aos-easing="linear"
              >
                <i class="fad fa-snooze fa-4x"></i>
                <hr />
                <h2>
                  My adorable sleeping positions are perfect for all your photoshoot needs. I love to sleep in a boat/loaf position, on my side, like an Egyptian Sphynx, and totally flat.
                </h2>
              </div>
              <div
                class="column is-4 has-text-centered"
                data-aos="flip-right"
                data-aos-easing="linear"
              >
                <i class="fad fa-brackets-curly fa-4x"></i>
                <hr />
                <h2>
                  If you're only here because you heard that Dor is into coding now, then I'm sorry but I cannot provide those Features, however I am being bribed by treats to tell you to check out the link below for his portfolio.
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Features Content -->
      <!-- Begin Skills Content -->
      <div class="section-light skills" id="skills">
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">Skills</h1>
            </div>
            <div
              class="column is-6"
              data-aos="fade-up"
              data-aos-duration="2000"
              data-aos-easing="linear"
            >
              <h1>Keeping My Home Clean</h1>
              <progress class="progress is-success" value="20" max="100">20%</progress>
              <h1>Sleeping</h1>
              <progress class="progress is-info" value="65" max="100">30%</progress>
              <h1>Chilling</h1>
              <progress class="progress is-primary" value="58" max="100">45%</progress>
              <h1>Pooping</h1>
              <progress class="progress is-danger" value="90" max="100">60%</progress>
              <h1>Making A Web Site</h1>
              <progress class="progress is-primary"  max="100">60%</progress>
            </div>
            <div
              class="column is-6"
              data-aos="fade-down"
              data-aos-duration="2000"
              data-aos-easing="linear"
            >
              <h1>Loving</h1>
              <progress class="progress is-warning" value="85" max="100" >60%</progress>
              <h1>Cute</h1>
              <progress class="progress is-danger" value="95" max="100">90%</progress>
              <h1>Being A Brat</h1>
              <progress class="progress is-success" value="70" max="100">45%</progress>
              <h1>Eating</h1>
              <progress class="progress is-info" value="60" max="100">60%</progress>
              <h1>Being Nice to Dor</h1>
              <progress class="progress is-primary"  max="100">60%</progress>
            </div>
          </div>
        </div>
      </div>
      <!-- End Skills Content -->
      <!-- Begin Work Content -->
      <div class="section-dark my-work" id="my-work">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in"
            data-aos-easing="linear"
          >
            <div class="column is-12">
              <h1 class="title has-text-centered section-title">Show Case</h1>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-1by1 work-item"
                  style="background-image: url('https://i.imgur.com/iQRPSgW.jpg');  background-position: 50% 40%;"

                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-1by1 work-item"
                  style="background-image: url('https://i.imgur.com/KMIYhz7.jpg'); background-position: 40% 55%;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-1by1 work-item"
                  style="background-image: url('https://i.imgur.com/7on1BNt.jpg');background-position: 40% 55%;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-1by1 work-item"
                  style="background-image: url('https://i.imgur.com/Ox3lEby.jpg'); background-position: 40% 55%;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-1by1 work-item"
                  style="background-image: url('https://i.imgur.com/JXQOExT.jpg'); background-position: 40% 55%;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-1by1 work-item"
                  style="background-image: url('https://i.imgur.com/tvxjtZy.jpg');background-position: 40% 55%;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-1by1 work-item"
                  style="background-image: url('https://i.imgur.com/9BRZxLO.jpg');background-position: 40% 55%;"
                ></figure>
              </a>
            </div>
            <div class="column is-3">
              <a href="#">
                <figure
                  class="image is-1by1 work-item"
                  style="background-image: url('https://i.imgur.com/yXky9AG.jpg0'); background-position: 40% 50%;"
                ></figure>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Work Content -->
      <!-- Begin Contact Content -->
      <div class="section-light contact" id="contact">
        <div class="container">
          <div
            class="columns is-multiline"
            data-aos="fade-in-up"
            data-aos-easing="linear"
          >
            <div class="column is-12 about-me">
              <h1 class="title has-text-centered section-title">
                Get in touch
              </h1>
            </div>
            <div class="column is-8 is-offset-2">
              <form
                action="/"
                method="POST"
              >
                <div class="field">
                  <label class="label">Name</label>
                  <div class="control has-icons-left">
                    <input
                      required
                      class="input"
                      type="text"
                      placeholder="Ex. Jane Smith"
                      name="Name"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control has-icons-left">
                    <input
                      required
                      class="input"
                      type="email"
                      placeholder="Ex. hello@arctheme.com"
                      name="Email"
                    />
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Message</label>
                  <div class="control">
                    <textarea
                      class="textarea"
                      placeholder="Please tell me more"
                      name="Message"
                    ></textarea>
                  </div>
                </div>
                <div class="field">
                  <div class="control ">
                    <button class="button submit-button">
                      Submit&nbsp;&nbsp;
                      <i class="fas fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Contact Content -->
    </div>
  </div>
    <!-- End Main Content -->

    <!-- Begin Footer -->

    <footer class="footer">
      <div class="class="content has-text-centered"">


      <p>
        <strong class="white">The Website</strong> By<a href="https://www.linkedin.com/in/dorz/">Dor Zairi.&ensp;&thinsp;<svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin fa-w-14 fa-spin fa-lg"><path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z" class=""></path></svg></a>
        Check My GitHub&ensp;&thinsp;
        <a href="https://github.com/Ckrcok"><i class="fab fa-github-square fa-2x"></i></a>
        <a href="https://ckrcok.github.io/Connect-Four-In-Space/">
        Check My First Project Out.&ensp;&thinsp;
        <i class="fad fa-project-diagram fa-2x"></i></a>
    </div>
    </footer>
    <!-- End Footer -->

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascripts\index.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script>
      AOS.init({
        easing: "ease-out",
        duration: 800,
      });
    </script>
  </body>
</html>
